DATABASE_URL=

CRON_SECRET=

AUTH_SECRET=
AUTH_URL=
AUTH_TRUST_HOST=true

NEXT_PUBLIC_APP_URL=

RESEND_API_KEY=

NEXT_AWS_S3_REGION=
NEXT_AWS_S3_ACCESS_KEY_ID=
NEXT_AWS_S3_SECRET_ACCESS_KEY=
NEXT_AWS_S3_BUCKET_NAME=
NEXT_PUBLIC_AWS_S3_BUCKET_PROTOCOL=
NEXT_PUBLIC_AWS_S3_BUCKET_LINK=

YANDEX_API_TOKEN=
YANDEX_CAMPAIGN_ID=

OZON_CLIENT_ID=
OZON_API_KEY=
