@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .admin-form-header {
    @apply text-3xl font-bold mb-8;
  }
  .card {
    @apply border rounded-2xl shadow-xl p-4 md:p-20;
  }

  .admin-form {
    @apply md:text-xl;
  }

  .admin-form label {
    @apply block mb-1 text-slate-700;
  }

  .admin-form input,
  .admin-form textarea {
    @apply border border-slate-300 focus:border-slate-600 focus:outline-none rounded-md block w-full py-1 px-2;
  }

  .admin-form .form-item {
    @apply mb-6;
  }

  .admin-horizontal-line {
    @apply border border-slate-300 my-10;
  }

  .error {
    @apply text-red-800;
  }

  .link-button {
    @apply flex items-center justify-center border-0 rounded-md  text-white cursor-pointer text-center  p-[5px]  w-[150px];
  }

  .link-button-green {
    @apply bg-emerald-500 hover:bg-emerald-600;
  }

  .link-button-blue {
    @apply bg-sky-600 hover:bg-sky-700;
  }

  .link-button-red {
    @apply bg-rose-600 hover:bg-rose-700;
  }

  .link-button-gray {
    @apply bg-slate-400 hover:bg-slate-500;
  }
  .gray-subheader {
    @apply text-2xl text-slate-500;
  }

  .bg-container {
    @apply bg-[url('/img/bg.jpg')] min-h-[100vh] min-w-[100wv];
  }

  .content-container {
    @apply px-4 md:px-8 flex justify-center  pb-[100px];
  }

  .graycard-settings {
    @apply mt-[100px] w-full md:w-2/3 md:!px-[50px] !pt-[100px] !pb-[100px];
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;

    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
